In [16]:
from collections import Counter
from math import ceil
from functools import reduce
from operator import add

import numpy as np
import pandas as pd

In [2]:
nbdata = 98
nbmembers_pergroup = 5

In [8]:
Counter(np.random.choice(range(nbgroups), nbdata))

Counter({0: 16, 2: 27, 4: 17, 3: 18, 1: 22})

In [9]:
nbgroups = ceil(nbdata / nbmembers_pergroup)

In [10]:
nbgroups_onelessmeber = nbmembers_pergroup - nbdata % nbmembers_pergroup

In [20]:
labels_to_assign = reduce(add, [[i]*(nbmembers_pergroup if i < nbgroups - nbgroups_onelessmeber else nbmembers_pergroup-1) for i in range(nbgroups)])

In [21]:
Counter(labels_to_assign)

Counter({0: 5,
         1: 5,
         2: 5,
         3: 5,
         4: 5,
         5: 5,
         6: 5,
         7: 5,
         8: 5,
         9: 5,
         10: 5,
         11: 5,
         12: 5,
         13: 5,
         14: 5,
         15: 5,
         16: 5,
         17: 5,
         18: 4,
         19: 4})

In [22]:
len(labels_to_assign)

98

In [26]:
assignments = np.random.choice(labels_to_assign, replace=False, size=nbdata)

In [27]:
def randomy_assign_groups(nbdata, nbmembers_pergroup):
    nbgroups = ceil(nbdata / nbmembers_pergroup)
    nbgroups_onelessmeber = nbmembers_pergroup - nbdata % nbmembers_pergroup
    labels_to_assign = reduce(
        add, 
        [
            [i]*(nbmembers_pergroup if i < nbgroups - nbgroups_onelessmeber else nbmembers_pergroup-1) 
            for i in range(nbgroups)
        ]
    )
    assignments = np.random.choice(labels_to_assign, replace=False, size=nbdata)
    return assignments

In [28]:
df = pd.DataFrame({
    'ID': range(nbdata),
    'groups': randomy_assign_groups(nbdata, nbmembers_pergroup)
})

In [29]:
df

    ID  groups
0    0       7
1    1      14
2    2      15
3    3      17
4    4      11
..  ..     ...
93  93      13
94  94       5
95  95      15
96  96       2
97  97      17

[98 rows x 2 columns]